/********************************Estilos del Fórmulario************************************************/
body{
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
text-align: center;
background-image: url("img/fondolog.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/***************************************Estilos login****************************************************/
.formulario-container {
    text-align: center;
  }
  
  .formulario-container h2 {
    margin-bottom: 30px;
  }
  
  .formulario-container form {
    margin: 0 auto;
    max-width: 400px;
    padding: 30px;
  }
  
  .formulario-container input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #5900ff;
    margin-bottom: 20px;
    padding: 10px 0;
    font-size: 16px;
    color: #333333;
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .formulario-container input:focus {
    border-bottom-color: #03fd88;
    outline: none;
  }
  
  .formulario-container input::-webkit-input-placeholder {
    font-size: 16px;
    color: #aaa;
    transition: all 0.3s ease-in-out;
    transform: translateY(10px);
    opacity: 0.7;
    animation: rgb 5s ease-in-out infinite alternate;
  }
  
  .formulario-container input:focus::-webkit-input-placeholder {
    color: #5900ff;
    transform: translateY(0);
    opacity: 1;
  }
  
  .formulario-container button {
    background-color: #5900ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-image: linear-gradient(-45deg, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255));
    background-size: 400% 400%;
    animation: gradient 6s ease-in-out infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  
  .formulario-container button:hover {
    background-color: #fff;
    color: #ffffff;
  }
  
  .formulario-container button:focus {
    outline: none;
  }
  
  @media only screen and (max-width: 600px) {
    .formulario-container form {
      max-width: 100%;
    }
  }
  
  @keyframes rgb {
    0% {
      color: #ff0000;
    }
    50% {
      color: #00ff00;
    }
    100% {
      color: #0000ff;
    }
  }
